<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
</div> -->

<!-- <div class="container mt-2">
  <div class="row">

    <div class="col-12  col-sm-8">
        <input 
        type="text" 
        name="" 
        id="searchNombre" 
        class="form-control" 
        placeholder="alumno a buscar"
        aria-describedby="helpId"
        [(ngModel)]="entrada">
    </div>

    <div class="col-8 col-sm-2">
        <button 
        type="button" 
        id="btBuscar" 
        class="btn btn-primary px-3"
        [disabled]="!activar()"
        >Buscar</button>
    </div>

  </div>
 
  
  <p>El alumno a buscar es {{entrada}}</p>
  
  <app-alumnos-lista></app-alumnos-lista>
  
</div> -->
<app-header></app-header>

<router-outlet></router-outlet>
